{% assign title = include.title %}
{% assign description = include.description %}
{% assign thumbnail = include.thumbnail %}
{% assign icon = include.icon %}
{% assign fa_icon = include.fa_icon %}
{% assign url = include.url %}
{% assign date = include.date %}
{% assign authors = include.authors %}
{% assign categories = include.categories %}
{% assign style = include.style | default: "column" %}
{% assign show_read_more = include.show_read_more %}
{% assign client = include.client %}
{% assign thumbnail_size = include.thumbnail_size %}

<div class="flex flex-row border-solid border-slate-700 border ml-40 mr-40 mb-4">

    <div class="b bg-sky-800 max-w-xs">&nbsp;</div>

    {% if thumbnail %}
    <div class="p-4">
        <a href="{{ url | relative_url }}">
            <img style="max-width:5rem;" alt="{{ title }}" src="{{ thumbnail | relative_url }}" />
        </a>
    </div>
    {% endif %}


    <div class="flex flex-col flex-nowrap flex-1 p-4">
        <div class="m-1 text-2xl">
            <a href="{{ url | relative_url }}">{{ title }}</a>
        </div>

        {% if description %}
        <div class="">
            <p>{{ description }}</p>
        </div>
        {% endif %}
    </div>

    <div><p><a class="button rounded" href="{{ url | relative_url }}">Details</a></p></div>
</div>