---
layout: default
body_classes: page-home
---

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    text_color=page.hero.text_color
    intro_image=page.hero.intro_image
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
      branding=page.branding
    %}
    </div>
  </div>
{% endif %}

{% assign cards = site.packages | sort: 'date' | reverse %}
{% assign limit = page.packages.limit | default: 3 %}
{% assign sort_by = page.packages.sort | default: 'date' %}
{% assign columns =  page.packages.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if page.intro.enabled %}
  <div class="section">
    <div class="container">
      {% include framework/blocks/sections/info.html
      heading=page.intro.heading
      sub_heading=page.intro.sub_heading
      align=page.intro.align
      features=page.intro.features
      buttons=page.intro.buttons
      image=page.intro.image
      %}
    </div>
  </div>
{% endif %}


{% if page.packages.enabled %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">

        {% include framework/blocks/components/grid-header.html
          heading=page.packages.heading
          sub_heading=page.packages.sub_heading
          align="center"
        %}

        {% for card in cards limit: limit %}
          <div class="col-12 col-md-4 {{ columns }} mb-3 {% if forloop.first %}mt-0 {% endif %} {% if forloop.last %}mb-0 {% endif %}">
            {% include theme/cards/card-packages.html
              title=card.title
              description=card.description
              fa_icon=card.fa_icon
              icon=card.icon
              url=card.url
              weight=card.weight
            %}
          </div>
        {% endfor %}

        {% include framework/blocks/components/grid-footer.html
          view_more_button_text=page.packages.view_more_button_text
          view_more_button_link=page.packages.view_more_button_link
          align="center"
        %}

    </div>
  </div>
</div>
{% endif %}


{% assign cards = site.podcasts | sort: 'date' | reverse %}
{% assign limit = page.podcasts.limit | default: 2 %}
{% assign sort_by = page.podcasts.sort | default: 'date' %}
{% assign columns =  page.podcasts.columns | default: 2 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if page.podcasts.enabled %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">

        {% include framework/blocks/components/grid-header.html
          heading=page.podcasts.heading
          sub_heading=page.podcasts.sub_heading
          align="center"
        %}

        {% for card in cards limit: limit %}
          <div class="col-12 col-md-4 {{ columns }} mb-3 {% if forloop.first %}mt-0 {% endif %} {% if forloop.last %}mb-0 {% endif %}">
            {% include theme/cards/card-podcasts.html
              title=card.title
              description=card.description
              thumbnail=card.thumbnail
              url=card.url
              weight=card.weight
            %}
          </div>
        {% endfor %}

        {% include framework/blocks/components/grid-footer.html
          view_more_button_text=page.podcasts.view_more_button_text
          view_more_button_link=page.podcasts.view_more_button_link
          align="center"
        %}

    </div>
  </div>
</div>
{% endif %}



{% if page.outro.enabled %}
<div class="section">
  <div class="container">
    {% include framework/blocks/sections/info.html
    heading=page.outro.heading
    sub_heading=page.outro.sub_heading
    align=page.outro.align
    features=page.outro.features
    buttons=page.outro.buttons
    image=page.outro.image
    %}
  </div>
</div>
{% endif %}

{% assign cards = site.insights | sort: 'date' | reverse %}
{% assign limit = page.insights.limit | default: 2 %}
{% assign sort_by = page.insights.sort | default: 'date' %}
{% assign columns =  page.insights.columns | default: 2 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if page.insights.enabled %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">

        {% include framework/blocks/components/grid-header.html
          heading=page.insights.heading
          sub_heading=page.insights.sub_heading
          align="center"
        %}

        {% for card in cards limit: limit %}
          <div class="col-12 col-md-4 {{ columns }} mb-3 {% if forloop.first %}mt-0 {% endif %} {% if forloop.last %}mb-0 {% endif %}">
            {% include theme/cards/card-insights.html
              title=card.title
              description=card.description
              thumbnail=card.thumbnail
              url=card.url
              weight=card.weight
            %}
          </div>
        {% endfor %}

        {% include framework/blocks/components/grid-footer.html
          view_more_button_text=page.insights.view_more_button_text
          view_more_button_link=page.insights.view_more_button_link
          align="center"
        %}

    </div>
  </div>
</div>
{% endif %}