---
layout: default
body_classes: page-post page-post-1
---

<style>
  .justify-content-center {
    justify-content: center;
  }
</style>

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% if page.image %}
        <div class="post-image" style="display:flex; justify-content:center">
          <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
        </div>
        {% endif %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% if page.categories %}
        <div class="post-categories">
          {% include framework/blocks/components/categories-badges.html
          categories=page.categories
          %}
          {% endif %}
          {% if page.date %}
          <div class="post-date">{{ page.date | date_to_long_string }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
        {% if site.disqus.shortname %}
        {% if page.comments != false %}
        <div class="comments mt-3">
          {% include framework/global/integrations/disqus.html %}
        </div>
        {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>