---
layout: default
body_classes: page-post page-post-1
---

{% assign sessions = page.sessions %}

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% if page.categories %}
        <div class="post-categories">
          {% include framework/blocks/components/categories-badges.html
          categories=page.categories
          %}
          {% endif %}
        </div>
        <div class="post-title">
          <h1>{{ page.title }}</h1>
        </div>
        {% if page.description %}
        <div class="post-description">
          <p>{{ page.description }}</p>
        </div>
        {% endif %}
      </div>
    </div>

    {% if page.cost %}
    <div class="row justify-content-center">
      <div class="workshop-cost">{{ page.cost }}</div>
    </div>
    {% endif %}
  </div>
</div>

{% if page.sessions and page.sessions.list.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2>Sessions</h2>
        <div class="d-flex flex-row justify-content-between">
          {% for session in page.sessions.list %}
          <div class="m-1" style="display: flex; flex-direction: column; flex: 1 1 20%;">
            <div class="card-title">
              <h3>{{ session.title }}</h3>
            </div>
            <div class="card-body" style="margin: 1rem 0;flex-grow: 1;">
              {{ session.description }}
            </div>
            <div class="card-footer" style="margin-top:auto;">Duration: {{ session.duration }} hours</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>