---
layout: default
body_classes: page-post page-post-1
---

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% if page.categories %}
        <div class="post-categories">
          {% include framework/blocks/components/categories-badges.html
          categories=page.categories
          %}
          {% endif %}
        </div>
        <div class="post-title">
          <h1>{{ page.title }}</h1>
        </div>
        {% if page.description %}
        <div class="post-description">
          <p>{{ page.description }}</p>
        </div>
        {% endif %}
      </div>
    </div>

    {% if page.cost %}
    <div class="row justify-content-center">
      <div class="workshop-cost">{{ page.cost }}</div>
    </div>
    {% endif %}


    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% if page.image %}
        <div class="post-image">
          <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
        {% if site.disqus.shortname %}
        {% if page.comments != false %}
        <div class="comments mt-3">
          {% include framework/global/integrations/disqus.html %}
        </div>
        {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>